{% extends 'base.html.twig' %}

{% block body %}
    <h1>Appartements list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Numero</th>
                <th>Adresse</th>
                <th>Enabled</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appartement in appartements %}
            <tr>
                <td><a href="{{ path('appartement_show', { 'id': appartement.id }) }}">{{ appartement.id }}</a></td>
                <td>{{ appartement.libelle }}</td>
                <td>{{ appartement.numero }}</td>
                <td>{{ appartement.adresse }}</td>
                <td>{% if appartement.enabled %}Yes{% else %}No{% endif %}</td>
                <td>{{ appartement.photo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('appartement_show', { 'id': appartement.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('appartement_edit', { 'id': appartement.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('appartement_new') }}">Create a new appartement</a>
        </li>
    </ul>
{% endblock %}
