<div class="fullwidthbanner-container main-slider">
    <div class="fullwidthabnner">
        <ul id="revolutionul" style="display:none;">
            <!-- 1st slide -->
            <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="">
                <div class="caption lfl slide_item_left"
                     data-x="10"
                     data-y="70"
                     data-speed="400"
                     data-start="1500"
                     data-easing="easeOutBack">
                    <img src="{{ asset('bundles/wiseowner/img/appartement.jpg') }}" alt="Image 1">
                </div>
                <div class="caption lfl slide_item_left"
                     data-x="200"
                     data-y="300"
                     data-speed="400"
                     data-start="2000"
                     data-easing="easeOutBack">
                    <img src="{{ asset('bundles/wiseowner/img/maison-familiale.jpg') }}" alt="Image 1">
                </div>
                <div class="caption lfr slide_title"
                     data-x="670"
                     data-y="120"
                     data-speed="400"
                     data-start="1000"
                     data-easing="easeOutExpo">
                    Vous mettez un appartement en location ?
                </div>

                <div class="caption lfr slide_subtitle dark-text"
                     data-x="670"
                     data-y="190"
                     data-speed="400"
                     data-start="2000"
                     data-easing="easeOutExpo">
                    Facilitez-vous la vie !
                </div>
                <div class="caption lfr slide_desc"
                     data-x="670"
                     data-y="260"
                     data-speed="400"
                     data-start="2500"
                     data-easing="easeOutExpo">
                    Une plateforme pour vous faciliter la gestion de vos biens locatifs <br>
                    {#<br>#}
                    {#eaque ipsa quae ablic jiener.#}
                </div>
                <a class="caption lfr btn yellow slide_btn" href="{{ path('fos_user_security_login') }}" target="_blank"
                   data-x="670"
                   data-y="400"
                   data-speed="400"
                   data-start="3500"
                   data-easing="easeOutExpo">
                    Facilitez-vous la vie
                </a>
            </li>
            <!-- 2nd slide  -->
            <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="">
                <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                <img src="img/banner/banner_bg.jpg" alt="">
                <div class="caption lft slide_title"
                     data-x="10"
                     data-y="125"
                     data-speed="400"
                     data-start="1500"
                     data-easing="easeOutExpo">
                    Vous cherchez une location ?
                </div>
                <div class="caption lft slide_subtitle dark-text"
                     data-x="10"
                     data-y="180"
                     data-speed="400"
                     data-start="2000"
                     data-easing="easeOutExpo">
                    Assurez-vous une bonne location
                </div>
                <div class="caption lft slide_desc dark-text"
                     data-x="10"
                     data-y="240"
                     data-speed="400"
                     data-start="2500"
                     data-easing="easeOutExpo">
                    Profitez d'un assistant pour vous garantir une bonne <br>
                    location<br>
                </div>
                <a class="caption lft slide_btn btn red slide_item_left" href="{{ path('fos_user_security_login') }}" target="_blank"
                   data-x="10"
                   data-y="360"
                   data-speed="400"
                   data-start="3000"
                   data-easing="easeOutExpo">
                    Accedez à votre assistant
                </a>
                <div class="caption lft start"
                     data-x="640"
                     data-y="55"
                     data-speed="400"
                     data-start="2000"
                     data-easing="easeOutBack"  >
                    <img src="{{ asset('bundles/wiseowner/img/maison-familiale.jpg') }}" alt="man">
                </div>
                <div class="caption lft slide_item_right"
                     data-x="900"
                     data-y="200"
                     data-speed="500"
                     data-start="5000"
                     data-easing="easeOutBack">
                    <img src="{{ asset('bundles/wiseowner/img/garage.jpg') }}" id="rev-hint2" alt="txt img">
                </div>
                <div class="caption lft slide_item_right"
                     data-x="500"
                     data-y="300"
                     data-speed="500"
                     data-start="7000"
                     data-easing="easeOutBack">
                    <img src="{{ asset('bundles/wiseowner/img/appartement.jpg') }}" id="rev-hint2" alt="txt img">
                </div>

            </li>
        </ul>
        <div class="tp-bannertimer tp-top"></div>
    </div>
</div>