<p class="{{ cols }}">
    <div class="panel panel-primary">
        <div class="panel-heading">{{ appartement.libelle }}</div>
        <div class="panel-body">
            <div class="">
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="{{ asset('bundles/wiseowner/img/maison_default.jpg') }}" alt="...">
                        <div class="caption">
                            <h3>{{ appartement.residence }}</h3>
                            <table class="table">
                                <tr>
                                    <td>Locataire</td>
                                    {% if null != appartement.locataire %}
                                    <td>{{ appartement.locataire.nom }}</td>
                                    {% else %}
                                        <td>Aucun locataire</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>Occupé</td>
                                    <td>Oui</td>
                                </tr>
                                <tr>
                                    <td>Fin de bail (entite bail a creer)</td>
                                    <td>15/07/2017</td>
                                </tr>
                            </table>
                            <p>
                                <a href="#" class="btn btn-primary" role="button">Détails</a>
                                <a href="#" class="btn btn-default" role="button">Gerer</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p>


