<tr>
    <td>
        <a href="#">
            <span class="col-sm-4 col-md-4">
                {% if  null != bien.photo %}
                    <img style="width: 100px" src="{{ asset('bundles/wiseowner/img/'~bien.photo) }}" alt="...">
                    {% else %}
                    <img style="width: 100px" src="{{ asset('bundles/wiseowner/img/maison_default.jpg') }}" alt="...">
                {% endif %}
            </span>
        </a>
    </td>
    <td class="p-progress">
        {% set typeColor = "danger" %}
        {{ bien.residence }}
        {% if bien.locataire is defined and null != bien.locataire %}
            - {{ bien.locataire.nom }} {{ bien.locataire.pseudo }}
            {% set typeColor = "success" %}
        {% endif %}
    </td>
    {#<td>#}
        {#<span class="label label-{{ typeColor }} label-mini">Le loyer a t'il été payé ?</span><br><br>#}
        {#<span class="label label-success label-mini" >Oui</span> <span class="label label-danger label-mini">Non</span>#}
    {#</td>#}
    <td>{% if bien.locataire is defined %} {{ bien.loyer }} € {% endif %}</td>
    <td class="p-progress">
        <div class="progress progress-xs">
            {% if 50 > bien.bailDuration %}{% set color_state = "success" %}
            {% elseif  50 <= bien.bailDuration and 75 >= bien.bailDuration %} {% set color_state = "warning" %}
            {% else %}{% set color_state = "danger" %}
            {% endif %}
            <div style="width: {{ bien.bailDuration }}%;" class="progress-bar progress-bar-{{ color_state }}"></div>
        </div>
        <small>{{ bien.bail.dateDebut | bailProgressPercent(bien.bail.dateBailEnded) }}% terminé </small>
        <br>
        {#<small>Renouvelé {{ 'now'|date('Y/m/d H:i:s') | bailRenewalNumber(bien.bail.dateDebut, bien.bail.type) }} fois</small>#}
        <small>Débuté depuis {{ bien.bail.dateDebut | bailStartedFrom() }} </small>
    </td>
    <td><span class="label label-{{ typeColor }} label-mini">{% if  null != bien.locataire %}Loué{% else %}Vide{% endif %}</span></td>
    <td>
        <button class="btn btn-success btn-xs btn-large-action">Changer l'état</button>
        <button class="btn btn-primary btn-xs btn-large-action"><i class="fa fa-pencil"></i>Modifier</button>
        <button class="btn btn-info btn-xs btn-large-action"><i class="fa fa-pencil"></i>Donner congés au locataire</button>
        <button class="btn btn-danger btn-xs btn-large-action"><i class="fa fa-trash-o "></i>Supprimer</button>
    </td>
</tr>
