<div class="panel panel-info" >
    <div class="panel-heading">{{ bien.libelle }}</div>
    <div class="panel-body">
        <div class="">
            <div class="col-sm-12 col-md-12">
                <div class="thumbnail">
                    <span class="col-sm-4 col-md-4"><img src="{{ asset('bundles/wiseowner/img/maison_default.jpg') }}" alt="..."></span>
                    <span class="caption col-sm-8 col-md-8">
                        <h3>{{ bien.residence }}</h3>
                        <table class="table">
                            <tr>
                                <td>Occupé</td>
                                {% if null == bien.locataire %}
                                    <td>non</td>
                                {% else %}
                                    <td>Oui</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>Locataire</td>
                                {% if null != bien.locataire %}
                                    <td>{{ bien.locataire.nom }} {{ bien.locataire.pseudo }}</td>
                                {% else %}
                                    <td>Aucun locataire</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>Fin de bail</td>
                                <td>17/02/2017{#{{ bien.date | date('r')}}#}</td>
                            </tr>
                        </table>
                        <p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
