{#    <div class="panel panel-primary">
        <div class="panel-heading">{{ appartement.libelle }}</div>
        <div class="panel-body">
            ccccc
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">{{ appartement.libelle }}</div>
        <div class="panel-body">
            bbbbb
        </div>
    </div>#}
<div class="panel panel-info row" >
    <div class="panel-heading">{{ appartement.libelle }}</div>
    <div class="panel-body">
        <div class="">
            <div class="col-sm-12 col-md-12">
                <div class="thumbnail">
                    <span class="col-sm-4 col-md-4"><img src="{{ asset('bundles/wiseowner/img/maison_default.jpg') }}" alt="..."></span>
                    <span class="caption col-sm-4 col-md-4">
                        <h3>{{ appartement.libelle }}</h3>
                        <table class="table">
                            <tr>
                                <td>Occupé</td>
                                {% if null == appartement.locataire %}
                                    <td>non</td>
                                {% else %}
                                    <td>Oui</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>Locataire</td>
                                {% if null != appartement.locataire %}
                                    <td>{{ appartement.locataire.nom }}</td>
                                {% else %}
                                    <td>Aucun locataire</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>Fin de bail (entite bail a creer)</td>
                                <td>15/07/2017</td>
                            </tr>
                        </table>
                        <p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>