<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Bienvenue</title>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wiseowner/front/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wiseowner/front/css/theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wiseowner/front/css/bootstrap-reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wiseowner/front/assets/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wiseowner/front/css/flexslider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wiseowner/front/assets/bxslider/jquery.bxslider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wiseowner/front/assets/fancybox/source/jquery.fancybox.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wiseowner/front/assets/revolution_slider/css/rs-style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wiseowner/front/assets/revolution_slider/rs-plugin/css/settings.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wiseowner/front/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wiseowner/front/css/style-responsive.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wiseowner/custom_css/custom_style.css') }}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!--header start-->
<header class="header-frontend">
    <div class="navbar navbar-default navbar-static-top">
            <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand" href="index.html">Wise<span>Investor</span></a>
            </div>
        </div>
    </div>
</header>
<!--header end-->

{% include ":widget:welcome_carousel.html.twig" %}

<div class="container">
    <div class="row">
        <!--feature start-->
        <div class="text-center feature-head">
            <h1>Bienvenue sur WiseInvestor</h1>
            <p>Créateur de relation locataire / Propriétaire</p>
        </div>
        {% include ":widget:access_forms_buttons.html.twig" %}
        <!--feature end-->
    </div>
    <div class="row">
        <!--quote start-->
        <div class="quote">
            <div class="col-lg-9 col-sm-9">
                <div class="quote-info">
                    <h1>Participez à la plateforme</h1>
                    <p>Partagez vos idées d'améliorations et profitez d'avantages sur notre plateforme</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <a href="http://themeforest.net/item/flatlab-bootstrap-3-responsive-admin-template/5902687?WT.ac=portfolio&WT.z_author=vectorlab" class="btn btn-danger purchase-btn" target="_blank">Cliquez et partagez</a>
            </div>
        </div>
        <!--quote end-->
    </div>
</div>

{% include ":footer:welcome_footer.html.twig" %}

<script src="{{ asset('bundles/wiseowner/front/js/jquery.js') }}"></script>
<script src="{{ asset('bundles/wiseowner/front/js/jquery-migrate-1.2.1.min.js') }}"></script>
<script src="{{ asset('bundles/wiseowner/front/js/hover-dropdown.js') }}"></script>
<script src="{{ asset('bundles/wiseowner/front/js/jquery.flexslider.js') }}"></script>
<script src="{{ asset('bundles/wiseowner/front/js/jquery.easing.min.js') }}"></script>
<script src="{{ asset('bundles/wiseowner/front/assets/bxslider/jquery.bxslider.js') }}"></script>
<script src="{{ asset('bundles/wiseowner/front/js/jquery.parallax-1.1.3.js') }}"></script>
<script src="{{ asset('bundles/wiseowner/front/js/link-hover.js') }}"></script>
<script src="{{ asset('bundles/wiseowner/front/assets/fancybox/source/jquery.fancybox.pack.js') }}"></script>
<script src="{{ asset('bundles/wiseowner/front/assets/revolution_slider/rs-plugin/js/jquery.themepunch.plugins.min.js') }}"></script>
<script src="{{ asset('bundles/wiseowner/front/assets/revolution_slider/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>
<script src="{{ asset('bundles/wiseowner/front/js/common-scripts.js') }}"></script>
<script src="{{ asset('bundles/wiseowner/front/js/revulation-slide.js') }}"></script>
<script src="{{ asset('bundles/wiseowner/front/js/jquery.easing.min.js') }}"></script>

<script>
    RevSlide.initRevolutionSlider();
    $(window).load(function() {
        $('[data-zlname = reverse-effect]').mateHover({
            position: 'y-reverse',
            overlayStyle: 'rolling',
            overlayBg: '#fff',
            overlayOpacity: 0.7,
            overlayEasing: 'easeOutCirc',
            rollingPosition: 'top',
            popupEasing: 'easeOutBack',
            popup2Easing: 'easeOutBack'
        });
    });

    $(window).load(function() {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function(slider) {
                $('body').removeClass('loading');
            }
        });
    });

    //    fancybox
    jQuery(".fancybox").fancybox();
</script>

</body>
</html>
