{% extends ":layout:main_user_layout.html.twig" %}
{% block main_body %}
    <section id="container">
        {#Voir pour inclure depuis l'index les fichiers de front offices ou de back office pour garder l'importation pour tous les tpl#}
        {% block header %}{% include 'wiseOwnerBundle:header:bo_header.html.twig' %}{% endblock header %}
        {% block menu %}{{ render(controller('wiseOwnerBundle:Proprietaire:generateLeftMenu')) }}{% endblock menu %}
        {#{% block menu %}{% include 'wiseOwnerBundle:menu:main_menu.html.twig' %}{% endblock menu %}#}
        <section id="main-content">
            <section class="wrapper site-min-height">
                    {% block body %}
                    {% endblock body %}
            </section>
        </section>
        {#{% include "wiseOwnerBundle:footer:user_footer.html.twig" %}#}
    </section>



{% endblock main_body %}

{% block javascripts %}
    <script src="{{ asset('bundles/wiseowner/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/wiseowner/js/bootstrap.min.js') }}"></script>
    <script class="include" type="text/javascript" src="{{ asset('bundles/wiseowner/js/jquery.dcjqaccordion.2.7.js') }}"></script>
    <script src="{{ asset('bundles/wiseowner/js/jquery.scrollTo.min.js') }}"></script>
    <script src="{{ asset('bundles/wiseowner/js/jquery.nicescroll.js') }}"></script>
    <script src="{{ asset('bundles/wiseowner/js/jquery.sparkline.js') }}"></script>
    <script src="{{ asset('bundles/wiseowner/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js') }}"></script>
    <script src="{{ asset('bundles/wiseowner/js/owl.carousel.js') }}"></script>
    <script src="{{ asset('bundles/wiseowner/js/jquery.customSelect.min.js') }}"></script>
    <script src="{{ asset('bundles/wiseowner/js/respond.min.js') }}"></script>
    <script src="{{ asset('bundles/wiseowner/js/slidebars.min.js') }}"></script>
    <script src="{{ asset('bundles/wiseowner/js/common-scripts.js') }}"></script>
    <script src="{{ asset('bundles/wiseowner/js/sparkline-chart.js') }}"></script>
    <script src="{{ asset('bundles/wiseowner/js/easy-pie-chart.js') }}"></script>
    <script src="{{ asset('bundles/wiseowner/js/count.js') }}"></script>

    {#<script src="{{ asset('bundles/wiseowner/js/jquery.nicescroll.js') }}"></script>#}
    {#<script src="{{ asset('bundles/wiseowner/assets/morris.js-0.4.3/morris.min.js') }}"></script>#}
    {#<script src="{{ asset('bundles/wiseowner/assets/morris.js-0.4.3/raphael-min.js') }}"></script>#}
    {#<script src="{{ asset('bundles/wiseowner/js/morris-script.js') }}"></script>#}

    <script>

        //owl carousel

        $(document).ready(function() {
            $("#owl-demo").owlCarousel({
                navigation : true,
                slideSpeed : 300,
                paginationSpeed : 400,
                singleItem : true,
                autoPlay:true

            });
        });

        //custom select box

        $(function(){
            $('select.styled').customSelect();
        });

        $(window).on("resize",function(){
            var owl = $("#owl-demo").data("owlCarousel");
            owl.reinit();
        });

    </script>
{% endblock javascripts %}

