{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bails list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Type</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bail in bails %}
            <tr>
                <td><a href="{{ path('bail_show', { 'id': bail.id }) }}">{{ bail.id }}</a></td>
                <td>{% if bail.date %}{{ bail.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ bail.type }}</td>
                <td>{% if bail.enabled %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bail_show', { 'id': bail.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bail_edit', { 'id': bail.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bail_new') }}">Create a new bail</a>
        </li>
    </ul>
{% endblock %}
