{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bail</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bail.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if bail.date %}{{ bail.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ bail.type }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{% if bail.enabled %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bail_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bail_edit', { 'id': bail.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
