<aside>
    <div id="sidebar"  class="nav-collapse ">
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a class="active" href="{{ path('wise_owner_homepage') }}">
                    <i class="fa fa-dashboard"></i>
                    <span>Accueil {{ "now"|date("m/d/Y H:i:s") }}</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="{{ path('bien_index') }}" >
                    <i class="fa fa-laptop"></i>
                    <span>Mes biens</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="{{ path('locataire_index') }}" >
                    <i class="fa fa-laptop"></i>
                    <span>Mes locataires</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="{{ path('document_index') }}" >
                    <i class="fa fa-laptop"></i>
                    <span>Mes documents</span>
                </a>
            </li>
            <li class="sub-menu extense">
                <a href="javascript:;" >
                    <i class="fa fa-sitemap"></i>
                    <span>Multi menu</span>
                </a>
                <ul class="sub">
                    <li><a  href="javascript:;">Menu Item 1</a></li>
                    <li class="sub-menu">
                        <a  href="boxed_page.html">Menu Item 2</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>
    {#<script src="{{ asset('bundles/wiseowner/js/jquery.js') }}"></script>#}

